.commentaires-container {
min-width: fit-content;
width: 1240px;
    padding: 1rem;
    background-color: #898989;
    font-family: 'Anonymous';

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .commentaires-container h2 {
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  
  .commentaires-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
  }
  
  .commentaires-container li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .commentaires-container li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .commentaires-container li strong {
    display: block;
    color: #b7ff00;
    margin-bottom: 0.5rem;
  }
  
  .commentaires-container form {
    display: flex;
    flex-direction: column;
  }
  
  .commentaires-container textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
  }
  
  .commentaires-container button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #05111d;
    color: white;
    border: none;
   
    transition: background-color 0.3s ease;
  }
  
  .commentaires-container button:hover {
    background-color: #e84104;
  }
  

  .commentaires-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 23rem;
    
 
  }