:root {
    /* Espacements */
    --espace-xs: 4px; /* Très petit */
    --espace-sm: 8px; /* Petit */
    --espace-md: 16px; /* Moyen */
    --espace-lg: 32px; /* Grand */
    --espace-xl: 64px; /* Très grand */

    /* Marges */
    --marge-xs: var(--espace-xs);
    --marge-sm: var(--espace-sm);
    --marge-md: var(--espace-md);
    --marge-lg: var(--espace-lg);
    --marge-xl: var(--espace-xl);

    /* Paddings */
    --padding-xs: var(--espace-xs);
    --padding-sm: var(--espace-sm);
    --padding-md: var(--espace-md);
    --padding-lg: var(--espace-lg);
    --padding-xl: var(--espace-xl);
}

