img {
    max-width: 200px;

}


  
  .tuile-film {
    flex: 0 1 300px; /* Les tuiles vont avoir une base de 300px mais peuvent grandir */
    display: flex;
    flex-direction: column;
    max-width: 210px;
    align-items: flex-start; /* Centre le contenu de la tuile */
  
    padding: 10px;
 /* Bordures arrondies pour le style */
    background-color: #fff; /* Un fond blanc ou une autre couleur de ton choix */
  }
  
  .tuile-film img {
    width: 100%; /* Pour que l'image prenne toute la largeur de la tuile */
 /* Bordures arrondies pour l'image aussi */
   ; /* Un peu d'espace entre l'image et le texte en dessous */
  }
  
  .tuile-film h2 {
    font-size: 20px; /* Taille du titre */
    color: #333; /* Couleur du texte */
    margin: 0 0 10px 0; /* Ajuste l'espacement autour du titre */
  }
  .grille-films a {
    text-decoration: none; /* Enlève le soulignement */
    color: inherit; /* Hérite de la couleur de texte parente */
  }
  

  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
