




a {
    color: white;
}








article {
    /* border: 1px solid white; */
    padding: 1rem;
    margin: 1rem;
    color: white;
    font-family: 'Roboto';
  
 
}







.interactif {
    cursor: pointer;
}




a {
    text-decoration: none;
}


article div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

article div h3 {
  font-style: italic;
    font-size: smaller;
}


/* Style de base pour la nouvelle classe */
.film-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation douce */
    cursor: pointer; /* Change le curseur pour indiquer l'interactivité */
}

.film-hover:hover {
    transform: scale(1.05); /* Légère augmentation de la taille */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet de soulèvement */
}

.film-hover svg path {
    transition: stroke 0.3s ease; /* Animation douce pour la couleur du cadre */
}

.film-hover:hover svg path {
    stroke: #FF6347; /* Change la couleur du cadre au survol */
}

.film-hover div h2, .film-hover div h3 {
    transition: color 0.3s ease; /* Animation douce pour la couleur du texte */
}

.film-hover:hover div h2, .film-hover:hover div h3 {
    color: #FF6347; /* Change la couleur du texte au survol */
}

.tuileFilm {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: 0s; /* délai initial */
  }
  
  /* Ajoute cette règle pour gérer le délai de transition de chaque tuile */
  .tuileFilm:nth-child(odd) {
    transition-delay: 0.1s;
  }
  
  .tuileFilm:nth-child(even) {
    transition-delay: 0.2s;
  }

  .info-supplementaire { 
    font-size: small;
    font-style: italic;
  }






  
  
  