:root {
    /* Couleurs primaires */
    /*--couleur-principale: #007bff; /* Bleu */
   /* --couleur-secondaire: #6c757d; /* Gris */

    /* Couleurs d'état */
    --couleur-succes: #28a745; /* Vert */
    --couleur-info: #17a2b8; /* Cyan */
    --couleur-avertissement: #ffc107; /* Jaune */
    --couleur-danger: #dc3545; /* Rouge */

    /* Couleurs de fond */
    --fond-principal: #181820; /* Blanc */
    --fond-secondaire: #f8f9fa; /* Gris clair */
    
    /* Couleurs de texte */
    --texte-principal: #e3e5e7; /* Gris foncé */
    --texte-secondaire: #6c757d; /* Gris */

    /* Couleurs de bordure */

    /* Couleurs de barres TV */
    --bleu: #1900ff;
    --jaune: #ffff00;
    --vert: #00ff00;
    --cyan: #00ffff;
    --rose: #ff00ff;
    --rouge: #ff0000;
    --blanc: #ffffff;
    --noir: #000000;
    --gris: #868e96;
}




/* Utilisation des variables */
body {
    background-color: var(--fond-principal);
    color: var(--texte-principal);
}

.bouton-principal {
    background-color: var(--couleur-principale);
    color: var(--fond-principal);
}

.bouton-avertissement {
    background-color: var(--couleur-avertissement);
    color: var(--fond-principal);
}

/* Ajoutez d'autres sélecteurs et propriétés ici, en utilisant les variables définies */








